.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-menu{
    display: flex;
    text-align: center;
    gap: 50px;
    list-style-type: none;
    text-decoration: none;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}

/* .nav-login-cart{
    display: flex;
    text-align: center;
    gap: 45px;
}

.nav-login-cart button{
    width: 80px;
    height: 50px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 17px;
    font-weight: 100;
    background: white;
    cursor: pointer;
}

.nav-login-cart button :active{
    background: #fafafa;
}

.cart{

    height: 20px;
}  */

/* .nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
} */

.nav-login-cart {
    display: flex;
    align-items: center;
  }
  
  .nav-login-cart button {
    margin-right: 20px;
  }
  
  .cart {
    position: relative;
  }
  
  .nav-cart-count {
    position: absolute;
    /* top: -px; Adjust this value as needed */
    /* right: 170px; Adjust this value as needed
    background-color: red;
    color: white; */
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: 90px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
  }

  .cart svg {
    font-size: 30px; /* Set the desired size for the cart icon */
}
  